html, body {
	height: 100%;
	width: 100%;
}

.flex {
	display: flex;
}

a:HOVER {
	text-decoration: none;
	cursor: pointer;
}

.page-panel {
	height: 100%;
	width: 100%;
}

.page-panel>div {
	width: 100%;
}

.head-panel {
	height: 100px;
	background: #B0E0E6; /* 一些不支持背景渐变的浏览器 */
}

.body-panel {
	min-height: calc(100vh - 130px);
}

.body-panel>div {
	min-height: calc(100vh - 130px);
	background: #eef3ed;
}

.left-panel {
	width: 250px;
}

.left-body {
	width: 100%;
	height: 100%;
	padding: 1px 0px 1px 0;
	border: thin;
	border-color: #808080;
	border-right: 2px;
	border-right-color: #808080;
	border-style: solid;
	border-left: none;
	border-radius: 5px;
	background-color: #F0FFFF;
}

.left-body>.menu-tree {
	width: 100%;
	height: 85%;
	overflow: scroll;
	/*隐藏滚动条，当IE下溢出，仍然可以滚动*/
	-ms-overflow-style: none;
	/*火狐下隐藏滚动条*/
	overflow: -moz-scrollbars-none;
}
/* for Chrome */
.left-body>.menu-tree::-webkit-scrollbar {
	display: none;
}

.left-body>.menu-tab::-webkit-scrollbar {
	display: none;
}

.left-body>.menu-tab {
	width: 100%;
	height: 13%;
	padding: 5px 10px;
	overflow: scroll;
	/*隐藏滚动条，当IE下溢出，仍然可以滚动*/ -ms-overflow-style : none;
	/*火狐下隐藏滚动条*/
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none
}

.panel-hidden {
	position: fixed;
	top: 50%;
	min-height: 24px !important;
	width: 14px;
	line-height: 28px;
	font-size: 14px;
	cursor: pointer;
}

.panel-hidden:HOVER {
	color: white;
}

.left-panel-hidden {
	left: 250px;
}

.center-panel {
	flex: 1;
	border: thin;
	border-style: solid;
	border-color: gray;
	border-left: none;
	border-radius: 5px;
	border-left: none;
}

.right-panel {
	width: 300px;
}

.right-panel-hidden {
	right: 300px;
}

.bottom-panel {
	height: 30px;
}

.copy-right {
	height: 30px;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

.menu-tree-head {
	width: 100%;
	background: #ADD8E6;
	font-size: x-large;
	border-radius: 5px;
	color: #fafafa;
	letter-spacing: 0;
	padding-left:10px;
}
.menu-tree-head span{
	font-size: large;
	margin-right: 5px;
}
.semi-circle-left {
	background-color: #ADD8E6 !important;
	border-radius: 12px 0 0 12px;
}

.semi-circle-right {
	background-color: #ADD8E6 !important;
	border-radius: 0 12px 12px 0;
}

.treeview .list-group-item {
	background-color: #F0FFFF;
}

.menu-cut-off {
	padding: 2px 0;
	height: 2%;
	border: none;
	height: 2%;
	border: none;
	border-top: 5px groove #c0c0c0;
}

.menu-tab-row .btn {
	margin: 1px 5px;
	padding: 5px;
	position: relative;
	outline: none;
	position: relative;
	background-color: #d9edf7;
}

.menu-tab-row {
	padding: 2px 0;
	text-align: center;
}

.menu-tab-row .btn:HOVER {
	background-color: #CCCCFF;
}

.menu-active {
	background-color: #656769;
}
.btn-one{
	width: 80%;
}
.btn-two{
	width: 40%;
}
.label-bar {
	width: 100%;
	height: 40px;
	background: #c6f3f3;
	border-radius: 5px 5px 0 0;
}

.label-tag {
	float: left;
	width: 148px;
	height: 0;
	margin-top: 10px;
	border-width: 0 22px 30px 22px;
	border-radius: 50px 50px 0 0;
	border-style: none solid solid;
	border-color: transparent transparent #c8e3f1;
	text-align: left;
	line-height: 40px;
	cursor: pointer;
}

.tag-active {
	border-color: transparent transparent #eef3ed;;
}

.label-tag span {
	padding-left: 10px;
	font-size: 12px;
	position: absolute;
	width: 90px;
	height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.tag-close:HOVER {
	color: red;
}

.tag-close {
	margin-top: -3px;
	float: right;
	text-decoration: none;
}

.head-title {
	padding: 0 10px 0 20px;
	font-size: 30px;
	font-style: oblique;
	line-height: 100px;
	color: rgba(255, 255, 255, 0.8);
	-webkit-background-clip: text;
}

.head-logo {
	width: 320px;
	margin-left: -30px; overflow : hidden;
	float: left;
	overflow: hidden;
}

.triangle-topright {
    width: 0;
    height: 0;
    border-top: 10px solid red;
    border-left: 10px solid transparent; 
    float: right;
    margin-top: -10px;
    cursor: pointer;
}
.more-menu{
	width: 100%;
	height: 10px;
}