<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta http-equiv="Pragma" content="no-cache"></meta>
<meta http-equiv="Cache-Control" content="no-cache"></meta>
<meta http-equiv="Expires" content="0"></meta>
<script src="js/imp.js"></script>
<link href="css/logon.css" rel="stylesheet" />
<script src="js/logon.js"></script>
<title>后台管理</title>
</head>
<body>
	<div class="page-panel">
		<div class="head-panel">
			<div class="head-logo"></div>
			<span class="head-title">后台管理系统</span>
			<div class="right login-register" style="display:none">
    			<span><a>登录</a>/<a>注册</a></span>
    		</div>
    		<div class="right cog-off" style="margin-right: 15px;">
    			<div class="glyphicon glyphicon-cog pointer cog" style="margin-right:10px;" title="个人管理">
    				<div class="cog-pull">
    					<div class="cog-top">
    						<div class="angle-top"></div>
    					</div>
    					<div class="cog-meue" onclick="">
    						密码修改
    					</div>
    					<div class="cog-meue" onclick="toIndex();">
    						返回首页
    					</div>
    				</div>
    			</div>
    			<div class="glyphicon glyphicon-off pointer off" style="" title="确认注销？"></div>
    		</div>
		</div>
		<div class="flex body-panel">
			<div class="flex left-panel">
				<div class="left-body">
					<div class="menu-tree">
						<div class="menu-tree-head">
							<span class="glyphicon glyphicon-home"></span>
							MENU
						</div>
						<div class="treeview"></div>
					</div>
					<div class="menu-cut-off"></div>
					<div class="more-menu">
						<div class="triangle-topright"></div>
					</div>
					<div class="menu-tab">
						<div class="menu-tab-row ">
							<button class="btn btn-one">  
						        <span class="glyphicon glyphicon-home"></span>&nbsp;MENU1  
						    </button>
						</div>
						<div class="menu-tab-row">
							<button class="btn btn-two">  
						        <span class="glyphicon glyphicon-home"></span>&nbsp;MENU3  
						    </button>
						    <button class="btn btn-two">  
						        <span class="glyphicon glyphicon-home"></span>&nbsp;MENU4 
						    </button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-hidden left-panel-hidden semi-circle-right">&lt;</div>
			<div class="flex center-panel">
				<div class="label-bar">
					<div class="label-tag tag-active"><span>主页</span></div>
					<div class="label-tag"><span>标签1标签1标签1标签1</span><a class="tag-close">x</a></div>
				</div>
				<div class="page-container">
				</div>
			</div>
			<div class="flex right-panel hidden"></div>
			<div class="panel-hidden right-panel-hidden semi-circle-left hidden">&nbsp;&gt;</div>
		</div>
		<div class="bottom-panel">
			<div class="copy-right">
				Power By Thymeleaf Design By Tucc<br></br> Copyright© 2018-9999 屠成超
			</div>
		</div>
	</div>
	<script src="js/manager.js"></script>
	<script type="text/javascript">
		tw.cv.keyBind();
		$(function() {

			var alternateData = [ {
				text : 'Parent 1',
				tags : [ '2' ],
				nodes : [ {
					text : 'Child 1',
					tags : [ '3' ],
					nodes : [ {
						text : 'Grandchild 1',
						tags : [ '6' ]
					}, {
						text : 'Grandchild 2',
						tags : [ '3' ]
					} ]
				}, {
					text : 'Child 2',
					tags : [ '3' ]
				} ]
			}, {
				text : 'Parent 2',
				tags : [ '7' ]
			}, {
				text : 'Parent 3',
				icon : 'glyphicon glyphicon-earphone',
				href : '#demo',
				tags : [ '11' ]
			}, {
				text : 'Parent 4',
				icon : 'glyphicon glyphicon-cloud-download',
				href : '/demo.html',
				tags : [ '19' ],
			}, {
				text : 'Parent 5',
				icon : 'glyphicon glyphicon-certificate',
				href : 'http://www.tesco.com',
				tags : [ 'available', '0' ]
			} ];

			$('.menu-tree .treeview').treeview({
				color : "#6699FF",
				expandIcon : 'glyphicon glyphicon-chevron-right',
				collapseIcon : 'glyphicon glyphicon-chevron-down',
				nodeIcon : "glyphicon glyphicon-user",
				showTags : false,
		        showBorder: false,
		        enableLinks: true,
		        selectedBackColor: "#99CCFF",
				data : alternateData
			});
			$('.menu-tree .treeview').treeview('collapseAll', {
				silent : true
			});
		});
	</script>
</body>
</html>